<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi beatae quos culpa provident sunt fuga praesentium nihil vitae explicabo minus?</p>
    <button>click me</button>
    <h3> <%= 1+2 %> </h3>
</body>
</html>